body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    /* font */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

/* Hero */

#hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #1f2937;
}

.hero_menu {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: #f9faf8;
    font-size: 24px;
}

.hero_menu ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
}

.hero_menu li {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb
}
.hero_image {
    width: 524px; 
    height: 235px;
    object-fit: cover;
    object-position: top center;
    margin: 40px;
}

#h_body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    gap: 0;
}

.h_body_align {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.h_body_align h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0%;
}

.h_body_align p {
    font-size: 18px;
    color: #e5e7eb
}

.h_body_align button {
    background: #3882f6;
    color: #f9faf8;
    font-size: large;
    font-family: "Roboto", sans-serif;
}

/* body */

.image-card {
   border: 5px solid #62a1ca;
   border-radius: 25px;
   height: 200px;
   width: 200px;
   margin: 30px;
}

.card-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}

.gallery_master{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
    margin-bottom: 30px;
}

.gallery_master h1 {
    font-size: 36px;
    color: #1f2937 ;
    font-weight: 900;
}

#quote_block {
   display: flex;
    background: #e5e7eb;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px;
    margin-top: 25px;
}

/* quote block */
#quote_block  p{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    margin: 5px;
}
#quote {
    width: 100vh;
}
#quote_block #citation {
    display: flex;
    justify-content: end;
    /* align-self: flex-end;  */
    font-size: 25px;
    font-weight: 500;
}

/* call to action */

.call_main {
    margin: 20px;
}

/* footer */
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    width: 100%;
    margin: auto;
}

.footer p {
    display: flex;
    justify-content: center;
}