body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    /* font */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

/* Hero */

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #1f2937;
}

.hero_menu {
    display: flex;
    justify-content: space-between;
}

.hero_menu ul {
    list-style-type: none;
    display: flex;
}

.hero_menu li {
    padding-left: 20px;
}

a {
    text-decoration: none;
}
.hero_image {
    width: 524px; 
    height: 235px;
    object-fit: cover;
    object-position: top center;
    margin: 30px;
}

#h_body {
    display: flex;
    justify-content: flex-start;
    margin: 25px;
}

.h_body_align {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.h_body_align h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

/* body */

.image-card {
   border: 5px solid #62a1ca;
   border-radius: 25px;
   height: 200px;
   width: 200px;
   margin: 30px;
}

.card-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}

.gallery_master{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
}