body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
}

.hero_menu {
    display: flex;
    justify-content: space-between;
}

.hero_menu ul {
    list-style-type: none;
    display: flex;
}

.hero_menu li {
    padding-left: 20px;
}

a {
    text-decoration: none;
}
.hero_image {
    width: 524px; 
    height: 235px;
    object-fit: cover;
    object-position: top center;
    margin: 30px;
}

#h_body {
    display: flex;
    justify-content: flex-start;
}

.h_body_align {
    display: flex;
    flex-direction: column;
    width: 300px;
}

/* body */

.image-card {
   border: 5px solid #62a1ca;
   border-radius: 25px;
   height: 200px;
   width: 200px;
   margin: 30px;
}

.gallery_master{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
}